@font-face {
    font-family: 梦源黑体W12_min;
    src: url("font/梦源黑体W12_min.ttf");
    font-display: swap;
}

:root {
    --main-background: #d7c592;
    --dark-background: #ccb166;
    --warn-background: #d59e77;
    --main-text: #473d21;
    --light-text: #a19267;
    --border-color: #00000000;
    --hide: #00000000;
    --pointer: 0;
}

* {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: var(--hide);
    touch-action: none;
    border: none;
    outline: none;
    overflow: hidden;
    font-family: "梦源黑体W12_min";
    image-rendering: pixelated;
    color-scheme: only light;
    transition: none;
}

::-webkit-scrollbar {
    height: 2px;
    background-color: var(--hide);
}
::-webkit-scrollbar-track {
    background-color: var(--light-text);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-text);
}

html {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--main-background);
}

.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.button_border {
    border-bottom: var(--border-color) solid 2px;
}

.star_light {
    color: var(--light-text);
}

.item_focus {
    background-color: var(--dark-background);
}

.item_wrong {
    background-image: repeating-linear-gradient(135deg,var(--warn-background),var(--warn-background) 10%,transparent 10%,transparent 25.5%);
}

.normal_page {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-background);
    color: var(--main-text);
    transition: all ease-in-out 0.25s;
}

.load_text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    pointer-events: none;
}

.load_bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

.load_image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
}

.level_button {
    display: inline-block;
    position: relative;
    left: 25px;
    top: 22px;
    width: 65px;
    height: 40px;
    margin-right: 10px;
    border: var(--main-text) solid 2px;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

.level_table {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 510px;
    margin-left: -175px;
    margin-top: -255px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.level_star {
    display: block;
    position: absolute;
    left: 95px;
    top: 0px;
    width: 160px;
    height: 40px;
    border: var(--main-text) solid 2px;
    font-size: 23px;
    line-height: 38px;
    text-align: center;
}

.level_block {
    display: block;
    width: 54px;
    height: 54px;
    margin: 14px;
    border: var(--main-text) solid 2px;
    line-height: 54px;
    text-align: center;
}

.page_back {
    display: block;
    position: absolute;
    left: 25px;
    top: 22px;
    height: 36px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}

.game_clear {
    display: block;
    position: absolute;
    right: 25px;
    top: 22px;
    height: 36px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}

.game_head {
    display: flex;
    position: absolute;
    left: 50%;
    top: 18px;
    width: 350px;
    margin-left: -175px;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
    pointer-events: none;
}

.game_level {
    height: 42px;
    margin-bottom: 8px;
    font-weight: bold;
    line-height: 42px;
}

.game_change {
    display: inline-block;
    width: 40px;
    height: 40px;
    pointer-events: all;
}

.game_text {
    display: inline-block;
    height: 42px;
}

.game_score {
    height: 32px;
    font-size: 24px;
    line-height: 31px;
}

.game_light {
    display: inline;
    margin-right: 2px;
    font-weight: bold;
}

.game_star {
    font-weight: bold;
}

.game_information {
    padding: 0px 4px;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    line-height: 32px;
    text-align: center;
}

.game_table {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 350px;
    margin-left: -176px;
    margin-top: -176px;
    border: var(--light-text) solid 1px;
    outline: var(--main-background) solid 2px;
    box-shadow: 0px 0px 0px 4px var(--main-text);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
}

.game_bar {
    display: flex;
    width: 100%;
    flex: 1;
}

.game_block {
    border: var(--light-text) solid 1px;
    flex: 1;
}

.item_image {
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: scale(0.8);
}

.item_line {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 28px;
    width: 350px;
    height: 87px;
    margin-left: -175px;
}

.item_bar {
    display: flex;
    position: absolute;
    width: 100%;
    height: 87px;
    touch-action: pan-x;
    overflow-x: auto;
}

.item_bar::before,.item_bar::after {
    content: "";
    padding-left: 1px;
    margin: 0px auto;
}

.item_block {
    width: 81px;
    height: 81px;
    margin: 0px -1px;
    border: var(--main-text) solid 2px;
    flex-shrink: 0;
    touch-action: pan-x;
}

.item_information {
    position: absolute;
    width: 227px;
    padding: 0px 10px 2px;
    border: var(--main-text) solid 2px;
    background-color: var(--main-background);
    pointer-events: none;
}

.item_title {
    border-bottom: var(--light-text) solid 2px;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
}

.item_text {
    font-size: 18px;
}

.setting_table {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 510px;
    margin-left: -175px;
    margin-top: -255px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.setting_bar {
    height: 50px;
}

.setting_text {
    line-height: 50px;
}

.setting_name {
    display: inline-block;
    width: 152.92px;
    height: 44px;
    margin: 0px 5px;
    line-height: 44px;
}

.setting_button {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 40px;
    margin: 0px 5px;
    border: var(--main-text) solid 2px;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

.setting_file {
    display: none;
    width: 0px;
    height: 0px;
}

.about_title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 7px;
}

.about_version {
    font-size: 24px;
}

.about_bar {
    height: 37px;
}

.about_information {
    display: inline-block;
    margin: 0px 4px;
    font-size: 20px;
    line-height: 37px;
}

.about_text {
    padding: 0px 15px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

@media (hover: hover) and (pointer: fine) {
    :root {
        --pointer: 1;
    }

    .level_button:hover {
        box-shadow: inset 0px -2px 0px 0px var(--main-text);
    }

    .level_table {
        height: 530px;
        margin-top: -265px;
    }

    .level_star:hover {
        box-shadow: inset 0px -2px 0px 0px var(--main-text);
    }

    .level_block:hover {
        box-shadow: inset 0px -2px 0px 0px var(--main-text);
    }

    .page_back:hover {
        border-bottom-color: var(--main-text);
    }

    .game_clear:hover {
        border-bottom-color: var(--main-text);
    }

    .game_change:hover {
        border-bottom-color: var(--main-text);
    }

    .game_table {
        transform: scale(1);
    }

    .game_block:hover {
        box-shadow: inset 0px -2px 0px 0px var(--light-text);
    }

    .item_line {
        width: 500px;
        margin-left: -250px;
    }

    .item_block:hover {
        box-shadow: inset 0px -2px 0px 0px var(--main-text);
    }

    .setting_button:hover {
        box-shadow: inset 0px -2px 0px 0px var(--main-text);
    }
}